#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens32 --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$WeEXZ16Y8xsKolTe$znZ4/UI6Vf0mLDcW7GYAAkdYcNyJxK4oYXGvzi6AlVWOyMrpBgwq7XbvaFTWBxpBKfQA/Ef7qo69Pk3lnzYXt.
# System services
services --disabled="chronyd"
# System timezone
timezone America/Montevideo --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post  --log=/root/post.log 
# Disable SELinux
echo "SELINUX=disabled" > /etc/selinux/config

# Install Epel
yum install epel-release -y

# Install Packages
yum install -y iptables-services vim httpd mariadb-server git wget  

# Disable Firewalld and enable iptables
chkconfig firewalld off
chkconfig iptables on

# Add port 80 and 443 to iptables
iptables -A INPUT -p tcp --dport 80 -j ACCEPT
iptables -A INPUT -p tcp --dport 443 -j ACCEPT
service iptables save

# Install Docker
wget https://download.docker.com/linux/centos/docker-ce.repo -O /etc/yum.repos.d/docker-ce.repo

yum install -y docker-ce
chkconfig docker on

# Install Portainer
docker volume create portainer_data
docker run -d  --name Portainer -p 8000:8000 -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer

iptables -A INPUT -p tcp --dport 8000 -j ACCEPT
iptables -A INPUT -p tcp --dport 9000 -j ACCEPT
service iptables save

# Enable Mariadb

%end
